/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

/* TAG */
header{
    height: 50px;
    background-color: rgb(255, 105, 0);   
}

ul{
    list-style: none;
}

li{
    padding-left: 0.7rem;
}

i{
    padding: 0.5rem;
}



footer{
    background-color: black;
}

p{
    padding: 0 1rem;
}
/* SELETTORI AVANZATI */

article.products:hover .levis {
    
}






/* CLASSI */


/* header */
.container{
    max-width: 1050px;
}

.logo{
    width: calc(100% / 3);
}

.width-logo{
    width: 25%;
}



.list{
    width: calc(100% / 3);
}

.icons{
    width: calc(100% / 3);
}

.flex-end{
    justify-content: flex-end;
}


/* main */

.main-container{
    margin: 0 auto;
    width: 70%;
    padding-bottom: 2rem;

}

.products{
    width: calc(100% / 3);
}

.p-relative{
    position: relative;
}

.padding-photo{
    padding: 2rem 1rem;
    width: 100%;
    padding-bottom: 0;
}


.heart{
    position: absolute;
    top: 50px;
    right: 15px;
    width: 25px;
    background-color: white;
    font-size: 2rem;
    text-align: center;
}

.red-numbers{
    color: red;
}

.line-through{
    text-decoration: line-through;
}

.upper-case{
    text-transform:uppercase;
    font-weight: bold;
}

.sale{
    position: absolute;
    background-color: red;
    bottom: 90px;
    left: 16px;
    width: 50px;
    text-align: center;
}

.sustainability{
    position: absolute;
    background-color: green;
    bottom: 90px;
    left: 70px;
    width: 90px;
    text-align: center;
}

.left-zero{
    left:17px;
}

/* footer */

.white-text{
    color: white;
}

.row{
    flex-direction: row;
}

.boxes{
    width: calc(100% / 2);

}

.column{
    flex-direction: column;
}

.smaller-text{
    font-size: 10px;
    justify-content: ;
}